
  <!-- Header (Nav bar) -->
  <header class="header">
    <nav style="height: 55px; background: linear-gradient(90deg, #1D63ED 0%, #002A8C 100%);">
      <ul style="float: left; width: 100%;">
        <li style="float: left; width: 85%;"><a href="/auth" class="logo"><img src="docker-logo-white.png" width="160px" height="33px" alt=""></a></li>
        <li style="float: right;"><a href="/auth/login" class="btn text-white">Sing in</a></li>
        <li style="float: right;"><a href="/auth/singup" class="btn btn-outline-primary">Sign up</a></li>
      </ul>
    </nav>
</header>