/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10151B!important;
    height: 100vh;
    color: #f0f6fc
}

div {
    display: block;
    unicode-bidi: isolate;
    font-family: Roboto, system-ui, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.429;
    letter-spacing: 0.02em;
}