.notification {
    min-width: 400px;
    min-height: 160px;
    background-color: #10151B;
    color: #fff;    
}

.all-notifications {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

.not-notifications {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.not-notifications-image {
    border-radius: 100%;
    min-height: 56px;
    width: 56px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.not-notifications-text {
    margin: 16px 0px 0px;
    font-family: Roboto, system-ui, sans-serif;
    font-weight: 500;
    font-size: 1.143rem;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: center;
}