<div class="container1">
    <div class="login-box">
      <img src="docker-logo-blue.png" alt="" width="160px">
      <br>
      <br>
      <br>
      <h1>Sign in to DockerHub</h1>
      <p style="font-size: 12px;">Enter your username and password for Docker to continue to Docker Hub</p>
      <form action="#" style="padding: 10px; border-radius: 5px;">
        <div class="textbox">
          <input type="text" [ngClass]="{'error-input' : emailError || globalError}" [(ngModel)]="credential.email" placeholder="Email address" name="email" required>
          <div *ngIf="emailError">
            <span [ngClass]="{'error-message' : emailError}">You must enter the correct email.</span>
          </div>
        </div>
        <div class="textbox">
          <input type="password" [ngClass]="{'error-input' : passwordError || globalError}" [(ngModel)]="credential.password" placeholder="Password" name="password" required>
          <div *ngIf="passwordError">
            <span [ngClass]="{'error-message' : passwordError}">You must enter the correct password.</span>
          </div>
          <div *ngIf="globalError">
            <span [ngClass]="{'error-message' : globalError}">Email or password is incorrect.</span>
          </div>
        </div>
        <div class="remember-me" style="margin-top: 20px; float: left;">
          <input type="checkbox" name="remember"> <label for="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-info" (click)="onSubmit()">Sign in</button>
      </form>
      <div class="links" style="padding: 10px; border-radius: 5px; margin-top: 20px;">
        <a href="/auth/forgot-password" class="btn btn-outline-dark text-white">Forgot password?</a>
        <a href="/auth/singup" class="btn btn-outline-dark text-white">Create an account</a>
      </div>
    </div>
  </div>