<div class="user-profile-light">
    <div class="user-profile-light-one">
        <div class="user-profile-light-one-img"></div>
        <div class="user-profile-light-one-user-logo">
            <div class="user-profile-light-one-user-logo-name">{{getFirstLetter()}}</div>
        </div>
        <div class="user-profile-light-one-user-logo-username">
            <p>nole23</p>
        </div>
        <nav>
            <hr>
            <a href="u/nole23">My profile </a>
            <a href="u/settings/nole23">Account settings</a>
            <a href="dashboard/billing">Biling</a>
            <hr>
            <button (click)="logout()">Sing out</button>
        </nav>
    </div>
</div>